/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #ffffff;
}
.contact .info i {
  font-size: 20px;
  color: #1977cc;
  float: left;
  width: 44px;
  height: 44px;
  background: #d1e6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #2c4964;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #437099;
}

.contact .info img {
  margin: 10px 10px 0 60px;
  border: 1px solid #3291e6;
}
.contact .info .noti, .contact .info .phone {
  margin-top: 40px;
}
.contact .info .noti:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #1977cc;
  color: #ffffff;
}

.contact .icon-box {
  padding: 60px 30px;
  transition: all ease-in-out 0.3s;
  background: #ffffff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
  border-radius: 18px;
  border-bottom: 5px solid #ffffff;
}
.contact .icon-box .icon {
  width: 64px;
  height: 64px;
  background: #1977cc;
  border-radius: 50px;
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
  color: #ffffff;
}
.contact .icon-box .icon i {
  font-size: 28px;
}
.contact .icon-box h4 {
  font-weight: 700;
  padding-top: 15px;
  padding-left: 80px;
  margin-bottom: 15px;
  font-size: 24px;
}
.contact .icon-box h4 a {
  color: #76b5ee;
  transition: ease-in-out 0.3s;
}
.contact .icon-box table {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 10px;
}
.contact .icon-box p {
  line-height: 18px;
  font-size: 13px;
  margin-bottom: 5px;
}
.contact .icon-box:hover {
  transform: translateY(-10px);
  border-color: #d1e6f9;
}
.contact .icon-box:hover h4 a {
  color: #1977cc;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}